Repository nucsemin/Solo: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  run: npx stylelint {staged_files}

eslint:
  run: npx eslint --ext .ts,.tsx {staged_files}

fix
  .github/workflows/github-ci.yml
Due: none

fix
  config/build/buildPlugins.ts
Due: eslint

install leaflet
  package-lock.json
  package.json
Due: none

fix eslint linting
  package-lock.json
  package.json
Due: none

fix node version
  .github/workflows/github-ci.yml
Due: none

fix gitlabci 2 node key
  .github/workflows/github-ci.yml
Due: none

fix npm install with conflicting peer dependencies
  .github/workflows/github-ci.yml
Due: none

add loki testing
  .github/workflows/github-ci.yml
  .gitignore
  package.json
Due: none

fix
  package.json
Due: none

add bash script for create slice
  create_slice_script.sh
Due: none

add dockerignore dockerfile nginx.conf
  .dockerignore
  .npmrc
  Dockerfile
  nginx.conf
Due: none

redesign sidebar button
  src/3-widgets/Sidebar/ui/Sidebar.tsx
  src/3-widgets/Sidebar/ui/styles.module.scss
  src/6-shared/lib/classNames/classNames.ts
  src/6-shared/ui/Button/ui/Button.tsx
  src/6-shared/ui/Button/ui/styles.module.scss
Due: stylelint, eslint

add parametr for size button
  src/1-app/styles/variables/global.scss
  src/3-widgets/Sidebar/ui/Sidebar.tsx
  src/6-shared/ui/Button/ui/Button.tsx
  src/6-shared/ui/Button/ui/styles.module.scss
Due: stylelint, eslint

upgrade sidebar, add stories button
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  src/3-widgets/Navbar/ui/index.tsx
  src/3-widgets/Navbar/ui/styles.module.scss
  src/3-widgets/Sidebar/ui/Sidebar.tsx
  src/3-widgets/Sidebar/ui/styles.module.scss
  src/6-shared/assets/icons/about.svg
  src/6-shared/assets/icons/main.svg
  src/6-shared/assets/icons/map.svg
  src/6-shared/ui/Button/ui/Button.stories.ts
Due: stylelint, eslint

always ci
  .github/workflows/github-ci.yml
Due: none

add Modal
  .eslintrc.js
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/1-app/App.tsx
  src/1-app/styles/variables/global.scss
  src/3-widgets/Modal/index.tsx
  src/3-widgets/Modal/ui/Modal.tsx
  src/3-widgets/Modal/ui/styles.module.scss
Due: stylelint, eslint

eslint, Modal, Portal
  .eslintrc.js
  extractedTranslations/en/navbar.json
  extractedTranslations/en/translation.json
  extractedTranslations/ru/navbar.json
  extractedTranslations/ru/translation.json
  package-lock.json
  package.json
  src/1-app/App.tsx
  src/3-widgets/Modal/ui/Modal.tsx
  src/3-widgets/Navbar/ui/index.tsx
  src/6-shared/ui/Button/ui/Button.stories.ts
  src/6-shared/ui/Button/ui/Button.tsx
  src/6-shared/ui/Button/ui/styles.module.scss
  src/6-shared/ui/Portal/index.tsx
  src/6-shared/ui/Portal/ui/Portal.tsx
Due: stylelint, eslint

add redux toolkit and his provider
  package-lock.json
  package.json
  src/1-app/providers/StoreProvider/config/store.ts
  src/1-app/providers/StoreProvider/index.ts
  src/1-app/providers/StoreProvider/ui/StoreProvider.tsx
  src/index.tsx
Due: eslint

add counter
  .eslintrc.js
  src/1-app/providers/StoreProvider/config/StateSchema.ts
  src/1-app/providers/StoreProvider/config/store.ts
  src/1-app/providers/StoreProvider/ui/StoreProvider.tsx
  src/2-pages/MainPage/ui/MainPage.tsx
  src/5-entities/Counter/index.ts
  src/5-entities/Counter/model/slice/counterSlice.ts
  src/5-entities/Counter/model/types/counterSchema.ts
  src/5-entities/Counter/ui/Counter.tsx
Due: eslint

add createSelector
  src/5-entities/Counter/model/selectors/getCouner/getCounter.test.ts
  src/5-entities/Counter/model/selectors/getCouner/getCounter.ts
  src/5-entities/Counter/model/selectors/getCounterValue/getCounterValue.test.ts
  src/5-entities/Counter/model/selectors/getCounterValue/getCounterValue.ts
  src/5-entities/Counter/ui/Counter.tsx
Due: eslint

add tests for slice and selectors
  src/5-entities/Counter/model/selectors/getCouner/getCounter.test.ts
  src/5-entities/Counter/model/selectors/getCounter/getCounter.test.ts
  src/5-entities/Counter/model/selectors/getCounter/getCounter.ts
  src/5-entities/Counter/model/selectors/getCounterValue/getCounterValue.test.ts
  src/5-entities/Counter/model/selectors/getCounterValue/getCounterValue.ts
  src/5-entities/Counter/model/slice/counterSlice.test.ts
  src/6-shared/ui/Button/ui/Button.test.tsx
Due: eslint

add json server
  json-server/db.json
  json-server/index.js
  package-lock.json
  package.json
Due: eslint

add user slice
  src/5-entities/Counter/model/slice/counterSlice.ts
  src/5-entities/User/index.ts
  src/5-entities/User/model/slice/userSlice.ts
  src/5-entities/User/model/types/userSchema.ts
  src/5-entities/User/ui/User.tsx
Due: eslint

add input, add loginForm
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  src/3-widgets/Navbar/ui/index.tsx
  src/4-features/AuthByUserName/index.ts
  src/4-features/AuthByUserName/ui/LoginForm/LoginForm.module.scss
  src/4-features/AuthByUserName/ui/LoginForm/LoginForm.tsx
  src/4-features/AuthByUserName/ui/LoginModal/LoginModal.module.scss
  src/4-features/AuthByUserName/ui/LoginModal/LoginModal.tsx
  src/6-shared/ui/Input/index.ts
  src/6-shared/ui/Input/ui/Input.module.scss
  src/6-shared/ui/Input/ui/Input.tsx
Due: stylelint, eslint

add Input
  src/2-pages/MainPage/ui/MainPage.tsx
  src/3-widgets/Modal/ui/Modal.tsx
  src/4-features/AuthByUserName/ui/LoginForm/LoginForm.tsx
  src/4-features/AuthByUserName/ui/LoginModal/LoginModal.tsx
  src/6-shared/ui/Input/ui/Input.module.scss
  src/6-shared/ui/Input/ui/Input.tsx
Due: stylelint, eslint

изменение значений в инпутах логинформы
  src/1-app/providers/StoreProvider/config/StateSchema.ts
  src/1-app/providers/StoreProvider/config/store.ts
  src/4-features/AuthByUserName/index.ts
  src/4-features/AuthByUserName/model/selectors/getLogin/getLogin.ts
  src/4-features/AuthByUserName/model/slices/loginSlice.ts
  src/4-features/AuthByUserName/model/types/LoginSchema.ts
  src/4-features/AuthByUserName/ui/LoginForm/LoginForm.tsx
  src/5-entities/User/index.ts
  src/5-entities/User/model/slice/userSlice.ts
  src/5-entities/User/model/types/userSchema.ts
  src/6-shared/ui/Input/ui/Input.tsx
Due: eslint

add posthog analitycs
  package-lock.json
  package.json
  src/1-app/providers/PostHogProvider/index.ts
  src/1-app/providers/PostHogProvider/ui/PostHogProvider.tsx
  src/index.tsx
Due: eslint

Path conditions:
  stylelint: any of: **/*.scss
  eslint: any of: *.{js,ts,jsx,tsx}
