Repository nucsemin/Solo: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  run: npx stylelint {staged_files}

eslint:
  run: npx eslint --ext .ts,.tsx {staged_files}

fix eslint
  .eslintrc.js
Due: eslint

add test.js
  src/test.js
  src/test.ts
Due: eslint

add PageNotFound, add translation, add PageLoader, add Loader
  extractedTranslations/en/notFound.json
  extractedTranslations/ru/notFound.json
  public/locales/en/notFound.json
  public/locales/en/translation.json
  public/locales/ru/notFound.json
  public/locales/ru/translation.json
  src/app/providers/router/ui/AppRouter.tsx
  src/pages/NotFoundPage/index.ts
  src/pages/NotFoundPage/ui/NotFoundPage.module.scss
  src/pages/NotFoundPage/ui/NotFoundPage.tsx
  src/shared/config/routeConfig/routeConfig.tsx
  src/shared/ui/Loader/index.tsx
  src/shared/ui/Loader/ui/Loader.scss
  src/shared/ui/Loader/ui/Loader.tsx
  src/test.js
  src/widgets/PageLoader/index.ts
  src/widgets/PageLoader/ui/PageLoader.module.scss
  src/widgets/PageLoader/ui/PageLoader.tsx
Due: stylelint, eslint

fix: problems start app type declarations
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  src/1-app/types/global.d.ts
  src/2-pages/NotFoundPage/ui/NotFoundPage.tsx
  src/2-pages/NotFoundPage/ui/styles.module.scss
Due: stylelint, eslint

add errorboundary, pageError
  babel.config.json
  config/build/buildPlugins.ts
  extractedTranslations/en/translation.json
  extractedTranslations/ru/translation.json
  package-lock.json
  package.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/1-app/providers/ErrorBoundary/index.tsx
  src/1-app/providers/ErrorBoundary/ui/index.tsx
  src/2-pages/MainPage/ui/MainPage.tsx
  src/3-widgets/BugButton/index.ts
  src/3-widgets/BugButton/ui/BugButton.tsx
  src/3-widgets/BugButton/ui/styles.module.scss
  src/3-widgets/PageError/index.ts
  src/3-widgets/PageError/ui/index.tsx
  src/3-widgets/PageError/ui/styles.module.scss
  src/6-shared/config/i18n/i18n.ts
  src/6-shared/ui/Button/ui/index.tsx
  src/index.tsx
Due: stylelint, eslint

fix: add reactRefreshWebpackPlugin
  babel.config.json
  config/build/buildLoaders.ts
  config/build/buildPlugins.ts
Due: eslint

feat: add webpack bundle analyzer
  config/build/buildLoaders.ts
  config/build/buildPlugins.ts
  package-lock.json
  package.json
  webpack.config.ts
Due: eslint

fix error cant find module classnames
  config/jest/jest.config.ts
  src/6-shared/lib/classNames/classNames.test.ts
Due: eslint

setting jest for ts, react, scss
  babel.config.json
  config/jest/jest.config.ts
  config/jest/jest.setup.ts
  package-lock.json
  package.json
  src/3-widgets/LangSwitcher/ui/index.tsx
  src/3-widgets/ThemeSwitcher/ui/index.tsx
  src/6-shared/ui/Button/index.ts
  src/6-shared/ui/Button/ui/Button.test.tsx
  src/6-shared/ui/Button/ui/Button.tsx
  tsconfig.json
Due: eslint

fix error cant find module styles.module.scss
  tsconfig.json
Due: none

fix absolute paths
  src/6-shared/ui/Button/ui/Button.test.tsx
Due: eslint

rename Sidebar file
  src/3-widgets/Sidebar/ui/index.tsx
Due: eslint

rename sidebar
  src/3-widgets/Sidebar/ui/Sidebar.tsx
Due: eslint

add sidebar test, add setup for import svg-files
  config/jest/jest.config.ts
  config/jest/jestEmptyComponent.tsx
  src/3-widgets/Sidebar/index.tsx
  src/3-widgets/Sidebar/ui/Sidebar.test.tsx
Due: eslint

fix warning sidebar test
  config/jest/jest.setup.ts
  src/3-widgets/Sidebar/ui/Sidebar.test.tsx
  src/6-shared/config/i18n/i18nForTests.ts
  src/6-shared/lib/tests/renderWithTranslations/renderWithTranslations.tsx
Due: eslint

add test for sidebar
  src/3-widgets/Sidebar/ui/Sidebar.test.tsx
  src/3-widgets/Sidebar/ui/Sidebar.tsx
Due: eslint

add storybook
  .vscode/settings.json
  config/storybook/main.ts
  config/storybook/preview.ts
  package-lock.json
  package.json
  src/6-shared/lib/tests/withRenderTranslations/withRenderTranslations.tsx
  src/6-shared/ui/Button/ui/Button.stories.ts
Due: eslint

fix error absolute paths in storybook
  config/storybook/webpack.config.ts
Due: eslint

add css loader for storybook
  config/build/buildLoaders.ts
  config/build/loaders/buildCssLoaders.ts
  config/storybook/webpack.config.ts
Due: eslint

fix button.stories.ts
  src/6-shared/ui/Button/ui/Button.stories.ts
Due: eslint

add new story Outline for button, fix classname
  src/1-app/styles/themes/dark.scss
  src/1-app/styles/themes/light.scss
  src/6-shared/ui/Button/ui/Button.stories.ts
  src/6-shared/ui/Button/ui/Button.tsx
  src/6-shared/ui/Button/ui/styles.module.scss
Due: stylelint, eslint

add react leaflet
  config/build/loaders/buildCssLoaders.ts
  extractedTranslations/en/map.json
  extractedTranslations/en/navbar.json
  extractedTranslations/en/translation.json
  extractedTranslations/ru/map.json
  extractedTranslations/ru/navbar.json
  extractedTranslations/ru/translation.json
  package-lock.json
  package.json
  public/locales/en/map.json
  public/locales/en/navbar.json
  public/locales/ru/map.json
  public/locales/ru/navbar.json
  src/1-app/types/global.d.ts
  src/2-pages/Map/index.ts
  src/2-pages/Map/ui/Map.module.scss
  src/2-pages/Map/ui/Map.tsx
  src/3-widgets/Navbar/ui/index.tsx
  src/3-widgets/Navbar/ui/styles.module.scss
  src/6-shared/config/routeConfig/routeConfig.tsx
Due: stylelint, eslint

add decorators for Button
  config/storybook/preview.ts
  src/6-shared/config/storybook/StyleDecorator/StyleDecorator.tsx
  src/6-shared/config/storybook/ThemeDecorator/ThemeDecorator.tsx
  src/6-shared/ui/Button/ui/Button.stories.ts
Due: eslint

add svg loader for storybook webpack config
  config/storybook/webpack.config.ts
  src/3-widgets/Sidebar/ui/Sidebar.stories.ts
Due: eslint

fix paths
  config/storybook/preview.ts
  src/3-widgets/Sidebar/ui/Sidebar.stories.ts
  src/6-shared/config/storybook/StyleDecorator.tsx
  src/6-shared/config/storybook/ThemeDecorator.tsx
  src/6-shared/ui/Button/ui/Button.stories.ts
Due: eslint

add Navbar storiesm fix error with useContext
  config/storybook/preview.ts
  src/3-widgets/Navbar/ui/Navbar.stories.ts
  src/6-shared/config/storybook/RouterDecorator.tsx
Due: eslint

add stories
  src/3-widgets/BugButton/ui/BugButton.stories.ts
  src/3-widgets/LangSwitcher/ui/LangSwitcher.stories.ts
  src/3-widgets/PageError/ui/PageError.stories.ts
Due: eslint

add pageloader stories
  src/3-widgets/PageLoader/ui/PageLoader.stories.ts
Due: eslint

add applink and loader stories
  src/6-shared/ui/AppLink/ui/AppLink.stories.ts
  src/6-shared/ui/Loader/ui/Loader.stories.ts
Due: eslint

add themeSwitcher stories
  src/3-widgets/ThemeSwitcher/ui/ThemeSwitcher.stories.ts
Due: eslint

add stories for pages
  src/2-pages/AboutPage/ui/AboutPage.stories.ts
  src/2-pages/MainPage/ui/MainPage.stories.ts
Due: eslint

fix import path
  src/2-pages/AboutPage/ui/AboutPage.stories.ts
  src/2-pages/MainPage/ui/MainPage.stories.ts
Due: eslint

fix package.json scripts
  package.json
Due: none

add github actions
  github/workflows/github-ci.yml
Due: none

fix
  .github/workflows/github-ci.yml
Due: none

add first job
  .github/workflows/github-ci.yml
Due: none

Path conditions:
  stylelint: any of: **/*.scss
  eslint: any of: *.{js,ts,jsx,tsx}
